@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers
@inherits Canvas3DComponentBase

<div style="@GetCanvasStyle()" >
    <ViewerThreeD SceneName=@SceneName @ref="Viewer3DReference"  CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight"/>
</div>
