
@inherits ShapeTreeBase


@namespace FoundryBlazor.Shared

<ul>
    <button class="btn btn-primary" @onclick="() => Refresh()">Refresh</button>
    <button class="btn btn-success" @onclick="() => AddScene()">Add Scene</button>
    <button class="btn btn-success" @onclick="() => AddWorld()">Add Worlds</button>



    <ShapeTreeItem 
        Items="@GetAllNodes()" 
        OnSelect="item => Console.WriteLine(item.GetTreeNodeTitle())">
    </ShapeTreeItem>
</ul>



